build --experimental_enable_bzlmod
build --incompatible_strict_action_env

build --flag_alias=erlang_home=//:erlang_home
build --flag_alias=erlang_version=//:erlang_version

build --extra_toolchains=@erlang_config//external:toolchain

try-import %workspace%/user.bazelrc
